USE [HuertoGo]
GO
/****** Object:  Table [dbo].[Base de Datos]    Script Date: 08/03/2021 21:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Base de Datos](
	[SKU] [nvarchar](255) NULL,
	[Proveedor] [nvarchar](255) NULL,
	[Nombre] [nvarchar](255) NULL,
	[Unidad ] [nvarchar](255) NULL,
	[Categoría] [nvarchar](255) NULL,
	[Subcategoría] [nvarchar](255) NULL,
	[Precio de compra] [nvarchar](255) NULL,
	[Precio de venta] [nvarchar](255) NULL,
	[Grupo de Alimentos (USDA-SMAE)] [nvarchar](255) NULL,
	[Sub Grupo de Alimentos (USDA-SMAE)] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Base de Datos] ([SKU], [Proveedor], [Nombre], [Unidad ], [Categoría], [Subcategoría], [Precio de compra], [Precio de venta], [Grupo de Alimentos (USDA-SMAE)], [Sub Grupo de Alimentos (USDA-SMAE)]) VALUES (N'AE0001', N'Empacadora de carnes selectas de Arenal SA de CV', N'Jamon americano espaldilla cocida (250 g)', NULL, N'Embutidos', N'Jamón', NULL, NULL, N'Alimentos de Origen Animal', N'Alto aporte en grasa')
INSERT [dbo].[Base de Datos] ([SKU], [Proveedor], [Nombre], [Unidad ], [Categoría], [Subcategoría], [Precio de compra], [Precio de venta], [Grupo de Alimentos (USDA-SMAE)], [Sub Grupo de Alimentos (USDA-SMAE)]) VALUES (N'AE0002', N'Empacadora de carnes selectas de Arenal SA de CV', N'Extrafino jamon de pierna (250 g)', NULL, N'Embutidos', N'Jamón', NULL, NULL, N'Alimentos de Origen Animal', N'Alto aporte en grasa')
INSERT [dbo].[Base de Datos] ([SKU], [Proveedor], [Nombre], [Unidad ], [Categoría], [Subcategoría], [Precio de compra], [Precio de venta], [Grupo de Alimentos (USDA-SMAE)], [Sub Grupo de Alimentos (USDA-SMAE)]) VALUES (N'AC0001', N'Empacadora de carnes selectas de Arenal SA de CV', N'Chuleta de cerdo ahumada (500 g)', NULL, N'Embutidos', N'Jamón', NULL, NULL, N'Alimentos de Origen Animal', N'Alto aporte en grasa')
GO
print 'Processed 100 total records'
